@import "reset.css";
@import "variables.css";

/* Components */
@import "components/nav-bar.css";
@import "components/movies.css";

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 520px) {
  .nav {
    padding: 20px; 
  }
  .movies {
    margin: 25px auto;
  }
}
