.movie-list {
  padding: 60px 40px;
  padding-bottom: 30px;
}

.movie-list h1 {
  color: var(--red);
  letter-spacing: 10px;
  font-size: 1.8rem;
  text-align: center;
}

.movie-list > h1 {
  font-size: 2.5rem;
  margin: 1.5rem;
  margin-bottom: 2.5rem;
}

.wrapper {
  --gap: 1.6rem;

  margin-top: 1.5rem;
  display: grid;
  justify-content: center;
  row-gap: var(--gap);
}

.wrapper .fall {
  transition: all 0.85s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(8rem);
  opacity: 0;
}

.wrapper .card:last-child {
  margin-bottom: 1.2rem;
}

@media screen and (min-width: 1400px) {
  .card.active {
    max-width: 50vw;
  }
}

@media screen and (max-width: 713px) {
  .movie-list,
  .search-movies {
    padding-inline: 14px;
  }
  .wrapper {
    --gap: 1.2rem;
  }
}

@media screen and (max-width: 374px) {
  .light .wrapper .card {
    background-image: linear-gradient(#fff4 100%, #000a) !important;
  }
  .light .card > div > ul {
    color: #2e3436;
  }
  .light .card ul li:not(:first-child) {
    background-color: #fff8;
  }
  .wrapper .card {
    grid-template-columns: 100px 1fr;
    background-image: linear-gradient(#0004 100%, #000a) !important;
  }
  .wrapper .card h3 {
    text-align: center;
    margin-bottom: 0.4rem;
  }
  .wrapper .card > div > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .wrapper .card ul li:first-child {
    grid-column: 1 / 3;
    text-align: center;
  }
  .wrapper .card > div > p {
    display: none;
  }
  .banner .banner-genres ul,
  ul.btn-wrapper,
  .modal {
    padding-inline: 1rem;
  }
}
