.movie-list {
  padding: 60px 40px;
}

.movie-list h1 {
  color: var(--red);
  letter-spacing: 10px;
  font-size: 1.8rem;
  text-align: center;
}

.movie-list > h1 {
  font-size: 2.5rem;
  margin: 1.5rem;
  margin-bottom: 2.5rem;
}

.wrapper {
  margin-top: 1.5rem;
  display: grid;
  justify-content: center;
  row-gap: 2rem;
}

.wrapper .active {
  padding: 0;
  opacity: 1;
  top: 0;
}

.wrapper .fall {
  transition: all 0.4s ease;
  transform: translateY(8rem);
  opacity: 0;
}

.wrapper .active img {
  border-radius: 0;
}

@media screen and (min-width: 1400px) {
  .card.active {
    max-width: 50vw;
  }
}

@media screen and (min-width: 375px) and (max-width: 712px) {
  .movie-list,
  .search-movies {
    padding-inline: 14px;
  }
  .wrapper {
    row-gap: 1rem;
  }
}
