.series-banner {
  height: 60vh;
  box-shadow: 0 5px 10px #000a;
  justify-content: flex-end;
}

.genres {
  display: flex;
  gap: 25px;
  padding: 20px 40px;
  margin: 0 60px;
  border-bottom: 4px solid #000a;
}

.genres li {
  font-size: 18px;
  padding: 0 15px;
  position: relative;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.genres li::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 65px;
  height: 6px;
  background-color: red;
  transform: scaleX(0);
  transition: transform 0.2s;
}

li a {
  color: var(--white-darker);
}

li:hover a {
  color: #c21010;
}

li:hover::after {
  transform: scaleX(1);
}

li.active a {
  color: #c21010;
}

li.active::after {
  transform: scaleX(1);
}

main {
  padding: 30px 60px;
}

.swiper {
  max-width: 100%;
  cursor: pointer;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: red;
}

.series {
  padding: 0;
}

.card {
  width: 100%;
  display: grid;
  box-shadow: 0 4px 8px #0007;
  overflow: hidden;
  position: relative;
}

.card > img {
  max-width: 100%;
}

.card h3 {
  font-size: 24px;
  margin-top: 5px;
  color: var(--red);
}

.card > div {
  display: grid;
  padding: 0 20px;
}

.card ul {
  grid-row: 2 / 3;
  color: #fffa;
  display: flex;
  gap: 10px;
}

.card ul li:first-child {
  margin-right: 10px;
}

.card p {
  width: 85%;
  height: 110px;
  line-height: 1.4;
  overflow: hidden;
}

.card p:hover {
  overflow: auto;
}

.card ::-webkit-scrollbar {
  width: 0.4rem;
  background: transparent;
}

.card ::-webkit-scrollbar-thumb {
  background-color: #0007;
  border-radius: 10px;
}

.card > i {
  font-size: 1.4rem;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}

@media screen and (min-width: 375px) and (max-width: 667px) {
  .series-banner {
    height: 70vh;
  }
  .series-banner .title {
    font-size: 40px;
  }
  .series-banner .btn-wrapper {
    display: none;
  }
  main {
    padding: 25px 0 25px 14px;
  }
  main h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 667px) {
  .card {
    padding: 0;
    display: grid;
    grid-template-columns: 200px 0px;
  }
  .card > div > div {
    padding: 0 10px;
  }
}

@media screen and (max-width: 810px) {
  .card p {
    height: 60px;
  }
}

@media screen and (max-width: 1107px) {
  .card {
    max-width: 699px;
  }
  .genres {
    display: none;
  }
}
