.series-banner {
  height: 60vh;
  box-shadow: 0 5px 10px #000a;
  justify-content: flex-end;
}

.genres {
  display: flex;
  gap: 25px;
  padding: 20px 40px;
  margin: 0 60px;
  border-bottom: 4px solid #000a;
}

.genres li {
  font-size: 18px;
  padding: 0 15px;
  position: relative;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.genres li::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 65px;
  height: 6px;
  background-color: red;
  transform: scaleX(0);
  transition: transform 0.2s;
}

li a {
  color: var(--white-darker);
}

li:hover a {
  color: #c21010;
}

li:hover::after {
  transform: scaleX(1);
}

li.active a {
  color: #c21010;
}

li.active::after {
  transform: scaleX(1);
}

main {
  padding: 30px 60px;
}

.swiper {
  max-width: 100%;
  cursor: pointer;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: red;
}

.series {
  padding: 0;
}

.card {
  grid-row: 1;
  grid-column: 2 / 3;
  width: 100%;
  display: grid;
  box-shadow: 0 4px 8px #0007;
  overflow: hidden;
}

.card > img {
  max-width: 101%;
}

.card h3 {
  font-size: 24px;
  margin-top: 5px;
  color: var(--red);
}

.card > div {
  display: grid;
  grid-template-rows: repeat(4, auto) 1fr;
  padding: 0 20px;
}

.card ul {
  grid-row: 2 / 3;
  color: #fffa;
  display: flex;
  gap: 10px;
}

.card ul li:first-child {
  margin-right: 10px;
}

.card p {
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 0 20px;
}

@media screen and (max-width: 1250px) {
  .card img {
    max-width: 100%;
  }
}
