.banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 60px;
  background-position: center;
  background-size: cover;
}

.banner .title {
  letter-spacing: 5px;
  font-size: 60px;
  color: var(--red);
}

.banner .overview {
  width: 50%;
  font-size: 24px;
  padding: 20px 0 30px 0;
}

.overview p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn {
  display: flex;
  align-items: center;
  padding: 8px 24px;
  border-radius: 5px;
  box-shadow: 0 5px 8px #000a;
  cursor: pointer;
}

.btn svg {
  margin-right: 14px;
  height: 25px;
  fill: var(--white-darker);
}

.btn .btn-text {
  color: var(--white-darker);
}

.btn + .info {
  padding: 7px 24px;
}

.watch {
  background-color: #c21010;
}

.info {
  background-color: #000a;
  border: 1px solid #fff5;
}

@media screen and (max-width: 600px) {
  .banner {
    padding: 25px;
  }
  .banner .overview {
    width: 100%;
  }
}
