.light {
  color: #202023;
  background-color: rgb(240 231 219);
}

.light .banner,
.light .card,
.light i.fa-moon {
  color: var(--white-darker);
}

.light i.fa-plus {
  color: aquamarine;
  opacity: 0.8;
}

.light svg,
.light i,
.light .items a,
.light .dropdown a {
  color: #000;
}

.light .col .input,
.light .dropdown {
  background-color: #fff8;
}

.col .input,
.dropdown {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.light .input,
.light .input::placeholder {
  color: #000;
}

.light .icon.sun {
  transform: translateY(2rem);
  opacity: 0;
}

.light .icon.moon {
  transform: none;
  opacity: 1;
}

.light nav.mobile > button {
  border: 1px solid #0005;
}

.light nav.mobile > button:hover,
.light .dropdown li:hover {
  background-color: #edf2f7;
}

.light .icons {
  position: relative;
}

.light .search-movies .wrapper {
  background-color: #fff8;
  border: 1px solid #0004;
}

.light .search-movies .movie {
  border-bottom: 1px solid #0004;
}

.light .search-movies .movie:hover {
  background-color: #edf2f7;
}

.light .search-movies h3 {
  color: #191919;
}

.icon {
  min-width: 2.5rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  padding: 0;
  border-radius: 6px;
  color: #fffa;
  border: none;
  background: #f8d38d;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.icon:hover {
  background-color: #f6ad55;
}

.icon > i {
  height: 1rem;
  width: 1rem;
  line-height: 1rem;
}

.icon.moon {
  position: absolute;
  top: 0;
  background-color: #805ad5;
  opacity: 0;
  transform: translateY(-2rem);
}

.icon.moon:hover {
  background-color: #6b46c1;
}

.icon .fa-sun {
  color: #202023;
}
