.modal {
  z-index: 2;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: all 0.2s ease-in-out;
  display: grid;
  place-content: center;
  visibility: hidden;
}

.modal-active {
  background-color: #000a;
  backdrop-filter: blur(4px) saturate(140%) contrast(90%);
  -webkit-backdrop-filter: blur(4px) saturate(140%) contrast(90%);
  visibility: visible;
}

.modal-active .modal-card {
  opacity: 1;
}

.modal-card {
  grid-template-columns: 0.5fr 1.5fr;
  align-items: start;
  max-width: 60vw;
  background-color: #202023;
  border-radius: 8px;
  opacity: 0;
  transition: all 0.15s linear;
  position: relative;
  top: -75px;
  padding: 25px;
  background-position: center;
  background-size: cover;
}

.modal-card > span {
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 25px;
  cursor: pointer;
}

.modal-card > div > div {
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 10px 0;
}

.modal-card > div > div > span {
  grid-column: 2 / 3;
  transform: translateY(1px);
  font-size: 1.2rem;
}

.stars-outer {
  grid-row: 1 / 2;
  font-size: 28px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.stars-inner {
  position: absolute;
  top: 0;
  width: 0;
  overflow: hidden;
}

.stars-outer::before {
  content: '\2605 \2605 \2605 \2605 \2605';
}

.stars-inner::before {
  content: '\2605 \2605 \2605 \2605 \2605';
  color: #ffac33;
}

.modal-card > img {
  max-width: 100%;
  border-radius: 8px;
}
