.movies {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.movie img {
  max-width: 100%;
  border-radius: 6px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.search-movies {
  z-index: 2;
  min-width: 100%;
  height: calc(100% - 50px);
  margin-top: 50px;
  position: fixed;
  top: 0;
  transition: all 0.15s ease-in-out;
  visibility: hidden;
}

.search-movies.active {
  visibility: visible;
}

.search-movies.active .wrapper {
  backdrop-filter: blur(10px) saturate(120%) contrast(95%);
  -webkit-backdrop-filter: blur(10px) saturate(120%) contrast(95%);
  opacity: 1;
}

.search-movies .wrapper {
  --gap: 0;

  position: fixed;
  max-height: 381.2px;
  min-height: 128px;
  left: 20px;
  right: 20px;
  margin-top: 18px;
  grid-template-columns: 1fr;
  background-color: #0004;
  border: 1px solid #fff2;
  border-radius: 6px;
  opacity: 0;
  overflow-y: scroll;
  transition: all 0.2s ease-in-out;
  scroll-snap-type: y mandatory;
}

.search-movies .movie {
  padding: 12px;
  display: grid;
  grid-template-columns: 68px 1fr;
  border-bottom: 1px solid #fff2;
  transition: background-color 0.2s ease-in-out;
  scroll-snap-align: center;
  cursor: pointer;
}

.search-movies .movie:hover {
  background-color: #fff2;
}

.search-movies .movie:last-child {
  border: none;
}

.search-movies .movie img {
  min-height: 102px;
  border-radius: 4px;
}

.search-movies .movie div {
  margin-top: 6px;
  margin-left: 20px;
}

.search-movies .movie h3 {
  color: var(--white-darker);
  font-size: 1.2rem;
  text-align: left;
}

.search-movies .movie p {
  margin-top: 10px;
  font-weight: 600;
  opacity: 0.7;
}

@media screen and (min-width: 714px) {
  .search-movies {
    padding-inline: 40px;
  }
  .search-movies .wrapper {
    margin-top: 24px;
    width: 340px;
    margin-left: auto;
    right: 40px;
  }
  .search-movies .movie h3 {
    font-size: 1rem;
  }
  .movies img {
    border-radius: 0;
    transition: transform 0.2s ease-in-out;
  }
  .movie.swiper-slide img:hover {
    transform: scale(1.03) translateY(-6px);
  }
  main .swiper {
    padding-top: 8px;
  }
  .poster h1 {
    transform: translateX(-10px);
  }
}
