.movies {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.movie img {
  max-width: 100%;
  border-radius: 6px;
  box-shadow: 0 4px 12px #0005;
  transition: transform 0.2s ease-in-out;
}

.movie h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #000;
  text-align: center;
}
