.items .item a {
  position: relative;
  cursor: pointer;
  margin-right: 40px;
  color: var(--white-darker);
}

.items .item a::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 40px;
  height: 4px;
  background-color: var(--red);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.2s;
}

.item a:hover {
  color: var(--white-ligter);
}

.item a:hover::after {
  transform: scaleX(1);
}

.item a.active {
  color: var(--white-ligter);
}

.item a.active::after {
  transform: scaleX(1);
}

nav.mobile button {
  --size: 26px;
  position: relative;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
}

nav.mobile button::after,
nav.mobile button::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
  transition: transform 0.2s ease-in-out;
}

nav.mobile button::before {
  transform: translateY(calc(50% - 5px));
}

nav.mobile button::after {
  transform: translateY(calc(50% + 4px));
}

nav.mobile.open button::before {
  transform: rotate(45deg);
}

nav.mobile.open button::after {
  transform: rotate(-45deg);
}

nav.mobile {
  position: relative;
}

nav.mobile.open .dropdown {
  opacity: 1;
  visibility: visible;
  transform: none;
}

.dropdown {
  min-width: 13rem;
  position: absolute;
  top: 34px;
  right: 0;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #202023;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.4) 0px 15px 40px;
  border: 1px solid #fff4;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8) translateZ(0px);
  transform-origin: top right;
  transition: all 0.1s cubic-bezier(0.4, 0, 1, 1);
}

.dropdown li {
  width: 100%;
  padding: 0.4rem;
  padding-inline: 0.8rem;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.dropdown li:hover {
  background-color: #fff1;
}

.dropdown li:hover a {
  text-decoration: underline;
}

.dropdown li a {
  display: flex;
  line-height: 1.5;
  font-size: 1rem;
  color: var(--white-darker);
  text-underline-offset: 3px;
}

@media screen and (max-width: 667px) {
  .no-mobile {
    display: none !important;
  }
  form.search {
    margin-right: 10px;
  }
}

@media screen and (min-width: 668px) {
  .mobile {
    display: none;
  }
}
