.items .item a {
  position: relative;
  cursor: pointer;
  margin-right: 20px;
  color: var(--white-darker);
}

.items .item a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 40px;
  height: 4px;
  background-color: var(--red);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.2s;
}

.items .item a:hover {
  color: var(--white-ligter);
}

.items .item a:hover::after {
  transform: scaleX(1);
}

.items .item a.active {
  color: var(--white-ligter)
}

.items .item a.active::after {
  transform: scaleX(1);
}

.menu{
  display: none;
}

@media screen and (max-width: 600px) {
  #no-mobile {
    display: none;
  }
}

@media screen and (min-width: 601px) {
  #no-large-screen {
    display: none;
  }
}

