.items .item a {
  cursor: pointer;
  margin-right: 20px;
  color: var(--white-darker);
  transition: color 0.3s ease-in-out;
}

.items .item a:hover {
  color: var(--white-ligter);
}

.menu {
  display: none;
}

@media screen and (max-width: 600px) {
  #no-mobile {
    display: none;
  }
}

@media screen and (min-width: 601px) {
  #no-large-screen {
    display: none;
  }
}

